/*adding 0 margin and padding to see what default looks like
*{
    margin: 0;
    padding: 0;
}
*/

a:hover{ /*the property of hover of 'a'*/
    animation-name: bigtosmall;
    animation:bigtosmall forwards 200ms;
}

@keyframes bigtosmall{
    from{
        font-size: 1em;
    }
    
    to{
        font-size: 8em;
    }
}

a:visited{
    color: deeppink;
}

body{
    background-color: #f4f4f4;
    color: #555555; /*changes text colour*/

    
    font-family: Arial, Helvetica, sans-serif; /*if Arial can't load, Helvetica does, if not then sans-serif does*/
    font-size: 23px;
    font-weight: lighter;

    /* same as above
    font: lighter Arial, Helvetica, sans-serif;
    */

    line-height: 1.6em;

}

td, th{
    padding: 14px;
    border: darkblue;
    border-width:medium;
    border-style:ridge;
    border-inline-start-width:1em;
    border-image-repeat: repeat;
    border-radius: 18px;
  }



.box-1{
    background-color: #333;
    color: #fff;

    border: 5px red;

    /* Same as above
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    */
}

.box-1 h1{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    padding: 30px;
    margin: auto;
    max-width: fit-content;
}

.container{
    width: 70%;
    padding: 20px;
    border-style: dashed;
    border-color: darkkhaki;
    border-width: thick;
    margin: auto;
}

.position-box{
    position: relative;
    width: 800px;
    height: 500px;
    border: 1px solid black;
    margin-top: 1rem;
    background-image: url('../images/wendygifkr.gif');
    background-position: center center;
    background-repeat: no-repeat;
}

.position-box h1{
    position: absolute; /**/
    top:40px;
}

.position-box h2{
    position: absolute;
    bottom:40px;
}

.fix-me-button{
    position: fixed;
    top: 400px;
}

.last-list li:first-child{
    background: red;
}

.last-list li:nth-child(5){
    background: yellow;
}

.last-list li:nth-child(even){
    background: green;
}