body{
    background-color: #f4f4f4;
    color: #555555; /*changes text colour*/

    
    font-family: Arial, Helvetica, sans-serif; /*if Arial can't load, Helvetica does, if not then sans-serif does*/
    font-size: 23px;
    font-weight: lighter;

    /* same as above
    font: lighter Arial, Helvetica, sans-serif;
    */

    line-height: 1.6em;

}

td, th{
    padding: 14px;
    border: darkblue;
    border-width:medium;
    border-style:ridge;
    border-inline-start-width:1em;
    border-image-repeat: repeat;
    border-radius: 18px;
  }



.box-1{
    background-color: #333;
    color: #fff;

}